<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Admin')"><head/>

<body>

    <div class="container-fluid">
        <!-- header -->
        <div th:replace="nav :: menu"></div>

        <!--content-->
        <div>
            <h2>Welcome to Shopme - Admin</h2>
            Welcome
            <a th:href="@{/account}"
               sec:authentication="principal.fullname"> <!--fullname from shopmeUserDetails-->
            </a>
            <span sec:authentication="principal.authorities"></span>  <!--authorities from shopmeUserDetails-->
        </div>

        <div th:replace="fragments :: footer"></div>
    </div>

</body>
</html>