<!DOCTYPE html>
<html lang="en">

<body>
    <div th:fragment="menu">
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit"/>
        </form>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: orange">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/shop.png}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar">
                        <span class="navbar-toggler-icon">
                        </span>
            </button>
            <div class="collapse navbar-collapse" id="topNavBar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Shipping}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Orders}">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Sales report}">Sales report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Menus}">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Settings}">Setting</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user fa-2x icon-while"></i>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           th:href="@{/account}"
                           sec:authentication="principal.fullname">
                        </a>  <!--username from userDetails-->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</body>
</html>