<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"></head>

<body>

<div class="container-fluid">

    <!-- header -->
    <div th:replace="nav :: menu"></div>

    <!-- content -->
    <div>
        <h2>Manage category | [[${pageTitle}]]</h2>  <!--"pageTitle get from controller"-->
    </div>

    <form th:action="@{/categories/save}" method="post" style="max-width: 700px; margin: 0 auto"
          th:object="${category}"
          enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}"/>
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Category name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="128"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Alias:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{alias}" required minlength="3" maxlength="128"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Parent category:</label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{parent}">
                        <option value="0">No parent</option>
                        <th:block th:each="cate : ${categoryList}">
                            <option th:value="${cate.id}">[[${cate.name}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Enabled:</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Image:</label>
                <div class="col-sm-8">
                    <input type="hidden" th:field="*{image}"/>
                    <input name="fileImage" class="mb-2" type="file" id="fileImage" accept="image/png, image/jpeg"/>
                    <img class="img-fluid" id="thumbnail" alt="Image preview"
                         th:src="@{/images/default_category.jpg}"
                            style="max-width: 100px"/>
                </div>
            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3"/>
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCannel"/>
            </div>
        </div>
    </form>

    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="fragments :: footer"></div>
</div>

<script type="text/javascript">

    moduleURL = "[[@{/categories}]]";  //back to the categories listing page (ShopmeAdmin/categories)

    function showModelDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#modalDialog").modal();
    }
</script>

<script th:src="@{/js/common_form.js}"></script>

</body>
</html>